@font-face {
    font-family: "SolaimanLipi";
    src: url("/font/SolaimanLipi.eot"); /* IE9 Compat Modes */
    src: url("/font/SolaimanLipi.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("/font/SolaimanLipi.woff2") format("woff2"), /* Super Modern Browsers */ url("/font/SolaimanLipi.woff") format("woff"),
        /* Pretty Modern Browsers */ url("/font/SolaimanLipi.ttf") format("truetype"), /* Safari, Android, iOS */ url("/font/SolaimanLipi.svg#svgFontName") format("svg"); /* Legacy iOS */
}
body {
    font-family: "SolaimanLipi", sans-serif !important;
    background: #00512f;
    -background: url(/images/background-design.png);
    background-size: contain;
    background-repeat: repeat;
}
*:focus {
  outline: none;
}
a {
    color: #000000;
    text-decoration: auto;
}
button.navbar-toggler::focus {
    outline: none;
}
.navbar-toggler:hover {
    color: #0c5230;
}
.top-section {
    text-align: center;
}
.top-section .text-light {
    margin-bottom: 0px;
}
.top-section h6 {
    background: #8bc34a;
    border-radius: 20px;
    color: white;
    padding: 5px 20px;
    width: fit-content;
    margin: auto;
}
.bg-light {
    background-color: #FBFAF5 !important;
}
.body-section {
    background: transparent;
    padding-top: 13px;
    padding-bottom: 15px;
}
.body-section .card {
    border: none;
    background: #cedcd5;
    border-radius: 0 !important;
}
/*OffcanvasNavbar*/
.offcanvas {
    max-width: 70%;
}
div#offcanvasNavbar {
    background: #cedcd5;
}
/*head*/
.text-dark {
    margin-bottom: 0px;
}
.bi.bi-arrow-left {
    color: black;
    font-size: 20px;
}
button.navbar-toggler {
    border: none;
    font-size: 20px;
    color: black;
    padding: 0;
}
.navbar-brand {
    margin-right: 0px;
}
.rounded {
    border-radius: 0 !important;
    margin-top: 5px;
}
section.search {
    padding-top: 65px;
}
svg.bi.bi-search {
    z-index: 1;
}

/*Pages*/
    section.inner-body-section {
        padding-top: 57px;
        padding-bottom: 10px;
    }
    section.inner-body-section .card {
        border-radius: 0;
    }
    section.inner-body-section .card-body {
        background: #cedcd5;
    }
    
    
.border-line {
    border-top: 1px solid #095a33;
    margin: 10px 0;
}

/* Numbaring
.title {
    font-size: larger;
}
ol.style_1 {
    counter-reset: li;
    padding-left: 2.5rem;
    padding: 0.25rem 0 0.25rem 2.75rem;
}
ol.style_1 small {
    opacity: 0.4;
}
ol.style_1 ol,
ol.style_1 ul {
    padding: 0.75rem 0 0 1.5rem;
}
ol.style_1 li {
    margin-bottom: 0.375rem;
}
ol.style_1 > li {
    position: relative;
    counter-increment: li;
    min-height: 2rem;
    padding-top: 0.1rem;
    list-style: none;
    text-align: justify;
}
ol.style_1 > li::before,
ol.style_1 > li::after {
    position: absolute;
    display: flex;
    opacity: 0.35;
}
ol.style_1 > li::before {
    content: counter(li);
    left: -2.75rem;
    top: 0;
    font-size: 12px;
    height: calc(2rem - 1px);
    width: calc(2rem - 1px);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid currentcolor;
    color: #0a512f;
    opacity: 1;
}
ol.style_1 > li::after {
    content: "";
    left: -1.75rem;
    top: calc(2rem + 1px);
    height: calc(100% - 2.5rem);
    border-left: 1px solid currentcolor;
}

/* Numbaring end*/

/*social share*/
.social-share-btns-container {
    text-align: center;
    margin-bottom: 5px;
}

.social-share-btns {
    display: inline-block;
    overflow: hidden;
}

.social-share-btns .share-btn {
    float: left;
    margin: 0 5px;
    padding: 3px 10px;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    vertical-align: middle;
    -moz-transition: background 0.2s ease-in-out;
    -o-transition: background 0.2s ease-in-out;
    -webkit-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
}

.social-share-btns .share-btn i {
    margin-right: 5px;
    display: inline-block;
    font-size: 18px;
    vertical-align: middle;
}

.share-btn-twitter {
    background-color: #00aced;
}

.share-btn-facebook {
    background-color: #3b5998;
}

.share-btn-linkedin {
    background-color: #007bb6;
}
p.sub-name {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #00512f;
    margin-bottom: 0px;
}
/*Canvas menu*/
.offcanvas-body {
    border-radius: 20px 20px 0 0;
    background: rgb(255 255 255 / 48%);
    border: 1px solid #8BC34A;
}
/*footer menu*/
footer {
    margin-top: 75px;
}
.navigation-list {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 10px;
    background: rgb(255 255 255 / 48%);
    border-radius: 20px 20px 0 0;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgb(255 255 255);
}
a.btn.position-relative {
    padding: 0;
    color: #0c5230;
}
.btn .badge {
    margin-top: 0;
    background-color: #00512f !important;
}
i.bi {
    font-size: 25px;
}
a.btn.position-relative {
    padding: 0;
    color: #0c5230;
}
.navigation-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #0c5230;
}
.navigation-icon p {
    font-size: 17px;
    margin-bottom: 0;
    text-shadow: 0 0 3px #4CAF50;
}